<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <import resource="classpath:spring-rabbitmq-producer.xml" />


    <!--bean id="messageProducer" class="MessageProducerImpl" /-->

    <!--<rabbit:queue name="emailmsg" auto-declare="true" declared-by="rabbitAdmin" durable="true" auto-delete="false" id="queueEmail"/>-->
    <!--<rabbit:queue name="smsmsg" auto-declare="true" declared-by="rabbitAdmin" durable="true" auto-delete="false" id="queueSms"/>-->
    <!--<rabbit:queue name="weixinmsg" durable="true" auto-declare="true" auto-delete="false" declared-by="rabbitAdmin" id="queueWeiXin"/>-->
    <!--<rabbit:queue name="noticemsg"  durable="true" auto-declare="true" auto-delete="false" declared-by="rabbitAdmin" id="queueNotice"/>-->

    <!--&lt;!&ndash;bean id="sourcemsg"-->
          <!--class="org.springframework.amqp.core.TopicExchange">-->
        <!--<constructor-arg value="msg_source"></constructor-arg>-->
    <!--</bean&ndash;&gt;-->

    <!--<rabbit:topic-exchange  name="msg_source" auto-declare="true" auto-delete="false" durable="true" declared-by="rabbitAdmin">-->
    <!--<rabbit:bindings>-->
        <!--<rabbit:binding pattern="send.email.*" queue="emailmsg"/>-->
        <!--<rabbit:binding pattern="send.sms.*"  queue="smsmsg" />-->
        <!--<rabbit:binding pattern="send.weixin.*" queue="weixinmsg"/>-->
        <!--<rabbit:binding pattern="send.sys.*" queue="noticemsg" />-->
    <!--</rabbit:bindings>-->
    <!--</rabbit:topic-exchange>-->

     <!--消费者 -->
    <bean id="applyServiceMsg" class="com.wisedu.cloud.smp.biz.consumer.ApplyServiceConsumerListener" />
    <bean id="setSchoolTokenMsg" class="com.wisedu.cloud.smp.biz.consumer.SetSchoolTokenConsumerListener" />


    <bean id="consumerApplyService"
         class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
        <constructor-arg ref="applyServiceMsg" />
        <property name="defaultListenerMethod" value="onMessage"></property>
        <property name="messageConverter" ref="messageConverter"></property>
    </bean>
    <bean id="consumerSetSchoolToken" class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
        <constructor-arg ref="setSchoolTokenMsg"/>
        <property name="defaultListenerMethod" value="onMessage" ></property>
        <property name="messageConverter" ref="messageConverter"></property>
    </bean>


    <!--消费者监听-->
    <bean id="applyServiceListenerContainer"
         class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
        <property name="queueNames" value="${applyservice.queue.name}"></property>
        <property name="connectionFactory" ref="connectionFactory"></property>
        <property name="messageListener" ref="consumerApplyService"></property>
    </bean>
    <bean id="setSchoolTokenContainer"
          class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
        <property name="queueNames" value="${setschooltoken.queue.name}"></property>
        <property name="connectionFactory" ref="connectionFactory"></property>
        <property name="messageListener" ref="consumerSetSchoolToken" ></property>
    </bean>

</beans>