<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisedu.cloud.smp.dal.spc.mapper.SchoolExtendMapper">
       <resultMap id="schoolMap" type="com.wisedu.cloud.smp.dal.spc.model.extend.SchoolWithLicense">
              <result column="school_id" property="schoolId" />
              <result column="name"       property="schoolName" />
              <result column="short_name" property="shortName" />
           <result column="version" property="version"/>
           <result column="license" property="license" />
       </resultMap>

       <select id="getSchoolByCondition" resultMap="schoolMap">
           SELECT s.school_id,s.name,s.short_name,sl.version,sl.license FROM school s LEFT JOIN
           school_license sl ON sl.school_id = s.school_id WHERE s.status = 0
          <if test = "condition != null and condition !=''">
              AND (s.school_id LIKE #{condition} OR s.name LIKE #{condition})
           </if>
           <if test = "page.start != null and page.start >= 0 ">
               LIMIT #{page.start},#{page.size}
           </if>
       </select>
</mapper>